<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header>
    <div class="principal">     
        <!--Nav menu-->
    <div class="mainNav">
        <div class="mainNav__logo">
            <h1>FROMSOFTWARE</h1>
        </div>
        <nav class="mainNav__mainMenu">
            <a href="/home" class="mainNav__links">HOME</a>
            <a href="/store" class="mainNav__links">GAMES</a>
            <a href="" class="mainNav__links">SUPPORT</a>
            <a href="" class="mainNav__links">COMPANY</a>
        </nav>
    </div>
    </header>
    {{{ body }}}

</body>
</html>