<div class="cartContainer">
    <div class="cart">
        <div class="cart_list">
            
        </div>
        <h2 class="cart__text">Total cost: <span class="cart_total">0</span>USD</h2>
        <a href="/checkout"><button class="buyButton">BUY</button></a>
    </div>
</div>
<script src="/scripts/cart.js"></script>