<div class="checkout">
    <h2 class="checkout__title">Buyer´s information</h2>
    <form action="/checkout" method="POST" class="checkout_form">
        <label>
            <div class="data">
                <h2 class="checkout__list"> Name </h2>
                <h2 class="checkout__list"> I.D </h2>
                <h2 class="checkout__list"> Phone </h2>
                <h2 class="checkout__list"> Address </h2>
            </div>
            <div class="inputs">
                <label>
                    <input class="checkout__input" placeholder="Name" name="name" required="true">
                </label>
            
            <input class="checkout__input" placeholder="I.D Number" name="id" type = "number" required="true">
            <input class="checkout__input" placeholder="Phone" name="phone" type = "number" required="true">
            <input class="checkout__input" placeholder="Address" name="address" required="true">

            </div>
        </label>
        <div>
            
        </div>
    </form>
    
</div>
<input name="products" type="hidden" class="checkoutform__products">
<button class="sendBtn"> Purchase </button>
<script src="/scripts/checkout.js"></script>