<div class="product_container">
    <img src="{{img}}" width="403px" height="593px">
    <div class="product_content">
        <h4>{{title}}</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum architecto voluptates illo ea debitis labore, minus nostrum, delectus doloribus accusamus minima, quidem tenetur ratione a. Voluptate quisquam sit perferendis. Nihil!</p>
    </div>
</div>
