@font-face{
    font-family: "Futura light";
    src: url('../fonts/futura\ light\ bt.ttf');
}
@font-face{
    font-family: "Futura medium" ;
    src: url('../fonts/futura\ medium\ bt.ttf');
}
@font-face{
    font-family: "Futura medium condensed";
    src: url('../fonts/futura\ medium\ condensed\ bt.ttf');
}
@font-face{
    font-family: "msyi";
    src: url('../fonts/msyi.ttf');
}
@font-face{
    font-family: "trajan";
    src: url('../fonts/TrajanColor-Concept.otf');
}